{% extends 'base.html' %}

{% block title %}
    My tasks
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>My Tasks</h1>
            {% comment %} {% if tasks != None %} {% endcomment %}
            <table class="show_my_tasks-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for list in show_my_tasks %}
                        <tr>
                            <td>{{ list.name }}</td>
                            <td>{{ list.start_date }}</td>
                            <td>{{ list.due_date }}</td>
                            <td>{{ list.is_completed.filter|yesno }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% comment %} {% else %}
                <p>You have no tasks</p>
            {% endif %} {% endcomment %}
        </div>
    </main>
{% endblock content %}
