{% extends 'base.html' %}

{% block title %}
    Projects
{% endblock title %}

{% block content %}
    <header>
        <nav>
            {% comment %} {% if user.is_authenticated %}
                <a href="{% url 'create_receipt' %}">Create Receipt</a>
                <a href="{% url 'categories' %}">Categories</a>
                <a href="{% url 'accounts' %}">Accounts</a>
                <a href="{% url 'create_category' %}">Create Category</a>
                <a href="{% url 'create_account' %}">Create Account</a>
            {% endif %} {% endcomment %}
        </nav>
    </header>
    <main>
        <div>
            <h1>My projects</h1>
            <p>
                <a href="{% url 'create_project' %}">Create a new project</a>
                {% comment %} <a href="{% url 'todo_list_update' todo_list_update.id %}">Update an existing list</a> {% endcomment %}
            </p>
            {% comment %} {% if projects == None %}
                You are not assigned to any projects
            {% else %} {% endcomment %}
                <table class="list-projects-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of tasks</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for list in list_projects %}
                            <tr>
                                <td><a href="{% url 'show_project' list.id %}">{{ list.name }}</td>
                                <td>{{ list.tasks.count }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% comment %} {% endif %} {% endcomment %}
        </div>
    </main>

{% endblock content %}
