{% extends 'base.html' %}

{% block title %}
    Projects
{% endblock title %}

{% block content %}
    <header>
        <nav>
            {% comment %} {% if user.is_authenticated %}
                <a href="{% url 'create_receipt' %}">Create Receipt</a>
                <a href="{% url 'categories' %}">Categories</a>
                <a href="{% url 'accounts' %}">Accounts</a>
                <a href="{% url 'create_category' %}">Create Category</a>
                <a href="{% url 'create_account' %}">Create Account</a>
            {% endif %} {% endcomment %}
        </nav>
    </header>
    <main>
        <div>
            <h1>{{ show_project.name }}</h1>
            <p>
                <a href="{% url 'create_task' %}">Create a new task</a>
                {% comment %} <a href="{% url 'create_project' %}">Create a new project</a> {% endcomment %}
                {% comment %} <a href="{% url 'todo_list_update' todo_list_update.id %}">Update an existing list</a> {% endcomment %}
            </p>
            {% comment %} {% if tasks != None %} {% endcomment %}
                <table class="show_project-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for list in list_projects.items.all %}
                            <tr>
                                <td><a href="{% url 'show_project' list.id %}">{{ list.name }}</td>
                                <td>{{ list.assignee }}</td>
                                <td>{{ list.start_date }}</td>
                                <td>{{ list.due_date }}</td>
                                <td>{{ list.is_completed }}</td>

                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% comment %} {% else %}
                This project has no tasks
            {% endif %} {% endcomment %}
        </div>
    </main>

{% endblock content %}
